@using Prova.ViewModel;
@model Prova.ViewModel.MatrixViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="container"></div>

<textarea id="log"></textarea>

<input type="number" id="interval" />
<input id="pause" type="button" value="pause" />
<input id="start" type="button" value="start" />
<input id="stop" type="button" value="stop" />

<script type="text/javascript">
    $(document).ready(function () {        
        var timer = null;        

        $("#start").click(function () {
            if (timer !== null) return;

            var interval = $("#interval").val();

            if (interval < 1 || interval > 60) {
                alert("O intervalo deve estar entre 1 e 60");
                return;
            }

            timer = setInterval(CallPopulateMatrix, interval * 1000);
        });

        $("#pause").click(function () {
            clearInterval(timer);
            timer = null;
        });

        $("#stop").click(function () {
            location.reload();
        });
    });

    function CallPopulateMatrix() {
        $.ajax({
            dataType: "json",
            async: true,
            url: '@Url.Action("PopulateMatrix")',
            success: function (data) {
                $("#container").html(data.Html);

                var txt = $("#log");
                txt.val(txt.val() + data.Log);

                if (data.Complete === "True")
                    $("#pause").trigger("click");
            },
            error: function (data) {
                alert("Nenhum dado recebido.");
            }
        });
    }
</script>
